/* Body Styles*/
body, head {
  font-family: Menlo;
}

body {
  background-color: white;
}

/* Jumbotron Styles */
.jumbotron{
    background-image: url('photos/mountain.png');
    background-size:cover;
    min-height:600px;
    text-align: center;
    color: /*#E5E7E9*/ white;
  }

h1{font-weight: bolder;}
h3{font-weight: bold;}

.store{
  padding: 8px 20px;
  background-color: #E5E7E9;
}

.click {
  font-weight: bolder;
  color: black;
}

.click:hover{
  color:black;
  text-decoration: none;
}

/* Product 1 Styles */

#Photo-1{
  margin: 20px;
  min-height: 100px;
  max-height: 300px;
  height: flex;
}

#Product-1{
  max-width:1000px;
  align-content: center;
}

.button1{
  /* margin-bottom: 5px;
  font-weight: bold;
  border-style: solid;*/
  background-color: #E5E7E9;
}

/* Gallery */

#gallery{
  background-image: url("photos/4543.png");
  background-size: cover;
  min-height: 600px;
  margin: 12px
}

#txt{
  vertical-align: bottom;
  color: white;
  font-weight: bolder;
}

/* Navbar styles */

#nav{
  border : none;
  background-color: rgb(248,249,250);
}

.nav-item, .nav-item-active {
  border:none;
  background-color: inherit;
  display:block;
}

.nav-item:hover{
  font-style: oblique;
  border: solid;
  border-width: 2px;
  border-color: rgb(0,175,175);
}

.nav-item:focus{
  border-color: rgb(0,100,100);
  color: grey;
}


.nav-item-active {
  font-weight: bold;
}

/* Footer */

footer{
  background-color: black;
}
