/* Body Styles*/
body, head {
  font-family: Menlo;
}

body {
  background-color: white;
}

@media (max-width: 800px) {
   body {
    margin:12px;
   }
}

/* Jumbotron Styles */
.jumbotron{
    background-image: url('photos/mountain.png');
    background-size:cover;
    min-height:600px;
    text-align: center;
    color: /*#E5E7E9*/ white;
  }

h1{font-weight: bolder;}
h3{font-weight: bold;}

.store{
  padding: 8px 20px;
  background-color: #E5E7E9;
}

.click {
  font-weight: bolder;
  color: black;
}

.click:hover{
  color:black;
  text-decoration: none;
}

/* Product 1 Styles */

#Photo1 img{
  padding: 20px;
  max-height: 400px;
  max-width: 100%;
  height:auto;
}

#Section-1{
  margin: 20px;
  max-width:1000px;
  align-content: center;
}

.button1{
  font-weight: bold;
  background-color: #E5E7E9;
  margin-bottom: 10px
}

/* Gallery */

#Gallery{
  background-image: url("photos/4543.png");
  background-size: cover;
  color: white;
  min-height: 400px;
  padding:25px;
  margin : 10px;
}

/* About */

/* Navbar styles */

#nav{
  border : none;
}

.nav-item, .nav-item-active {
  border:none;
  background-color: inherit;
  display:block;
}

.nav-item:hover{
  font-style: oblique;
  border: solid;
  border-width: 2px;
  border-color: rgb(0,175,175);
}

.nav-item:focus{
  border-color: rgb(0,100,100);
  color: grey;
}


.nav-item-active {
  font-weight: bold;
}

/* Footer */

footer{
  background-color: black;
}

#social-media{
  margin-left: 22.5%;
}
