
body, head {
  font-family: Menlo;
}

.nav-item, .nav-item-active {
  border:none;
  background-color: inherit;
  display:block;
}

.nav-item:hover{
  font-style: oblique;
  border: solid;
  border-width: 2px;
  border-color: rgb(0,175,175);
}

.nav-item:focus{
  border-color: rgb(0,100,100);
  color: grey;
}


.nav-item-active {
  font-weight: bold;
}
