body, head {
  font-family: Menlo;
}

#cont{
  margin: auto;
  width: 60%;
  max-width: 600px;
  min-width: 300px;
  padding: 10px;
}

.row{
  margin-bottom: 15px;
}

#email{
  margin-bottom: 0;
}

#logo{
  min-width: 100px;
}

/* Navbar Styles */
.nav-item, .nav-item-active {
  border:none;
  background-color: inherit;
  display:block;
}

.nav-item:hover{
  font-style: oblique;
  border: solid;
  border-width: 2px;
  border-color: rgb(0,175,175);
}

.nav-item:focus{
  border-color: rgb(0,100,100);
  color: grey;
}


.nav-item-active {
  font-weight: bold;
}

/*Footer Styles*/
footer{
  background-color: black;
}

#media{
  margin-bottom: 0;
}

#social-media{
  margin-left: 22.5%;
}
